.container-Up {
    display: flex;
   
    margin-top: 8rem;
  }
  .btn-icon{
    display: flex;
    align-self: center;
   

  }
  #icon-up{
    font-size: 22pt;
    display: flex;
    align-items: center;
    margin-right: 20px;
    
  }
  .botoes-Up {
   
    flex-direction: column;
  }
 
  .conteudo-Up {
    flex-grow: 1;
    margin-left: 20px;
  }
  .botaoAtivo {
    background-color: #fff;
    width: 280px;
  
   
    color: #1d96e6; 
  }
  #btn-Up{
    font-size: 15pt;
    margin-bottom: 18px;
    display: flex; 
    align-self: center;
  }